.btn-del {
    background-color: rgba(255, 0, 0, 0.150);
    border: 1px solid red;
    color: red;
}

.btn-del:hover {
    background-color: rgba(255, 0, 0, 0.300);
    border: 1px solid red;
    color: red;
}

.contact-card {
    border: 2px solid black;
    box-shadow: 1px 1px 1rem black;
}